body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

nav,
.help-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(68, 180, 255);
}

h1,
h1>a {
    box-sizing: border-box;
    /* width: 320px; */
    border-radius: 5px;
    background-color: rgb(0, 124, 207);
    color: snow;
}

h1,
h2,
h3 {
    text-align: center;
}

h3 span.word,
h2 span.word {
    background-color: snow;
}

.initial-close {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    width: 320px;
    background-color: snow;
    min-height: 450px;
    display: none;
    font-size: 1.1rem;
}

h2 {
    padding: 5px;
    margin: 5px;
}

h1 {
    overflow: hidden;
    padding: 8px;
}

.word,
.osis,
.definition-entry,
.definition-location,
.definition-relatives {
    background-color: rgb(229, 238, 246);
}

button:hover,
.word:hover,
.osis:hover,
.definition-entry:hover,
.definition-location:hover,
.definition-relatives:hover,
#reading-plan-table .osis:hover,
#help .nested-menu:hover,
#help a:hover {
    background-color: rgb(0, 124, 207);
    color: snow;
}

a {
    text-decoration: none;
    color: rgb(0, 124, 207);
    ;
}

#help h3:not(#help-h3-heading) {
    background-color: lightgrey;
    border-radius: 5px;
}

#map-container {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.bullseye,
.background-location {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    transform: translate(-0.5em, -0.5em);
    background-color: rgba(255, 250, 250, 0.4);
}

.bullseye {
    color: blue;
    z-index: 999;
}

.background-location {
    color: darkslategray;
    z-index: 998;
}

#reading-plan-table {
    font-size: .75rem;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 320px;
}

#reading-plan-table td {
    margin: 0;
    padding: 0;
    vertical-align: top;
    word-wrap: break-word;
}

#reading-plan-table tr:nth-child(odd) {
    background-color: lightgrey;
}

#reading-plan-table tr:nth-child(even) {
    background-color: rgb(248, 244, 244);
}

#reading-plan-table .osis {
    background-color: transparent;
}

td {
    border: 1px solid grey;
}

main {
    height: 650px;
    overflow-y: auto;
}

h1,
body {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

main {
    height: unset;
    overflow-y: unset;
}

sub {
    font-size: 0.9rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 250, 250, 0.8);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

/* INITIALIZATION */
button,
.help-nav button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    padding: 5px;
    margin: 1px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 40px;
}

/* Navs inside of mains */
main nav {
    background-color: snow;
}

main nav button {
    padding: 2px;
    margin: 2px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 40px;
}

main nav select,
main input {
    font-size: 1rem;
    border-radius: 0px;
    background-color: snow;
    border: 1px solid gray;
}

.narrow {
    min-width: 2rem;
    margin: 0;
}

#bible-chapter-previous,
#commentary-chapter-previous {
    border-radius: 5px 0px 0px 5px;
}

#bible-chapter-next,
#commentary-chapter-next {
    border-radius: 0px 5px 5px 0px;
}

.redletter {
    color: rgb(200, 0, 0);
}

.no-margin {
    margin: 0;
}

#shift-by-integer {
    max-width: 4rem;
    font-size: 1rem;
    border-radius: 5px;
}

#reading-menu {
    background-color: rgb(248, 244, 244);
    border: 1px solid lightgrey;
}

#bible-select,
#commentary-select {
    display: none;
}

#dictionary-word-load,
#help-dictionary-word-load {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    min-width: 0;
}

#search-result-list,
#help-search-result-list {
    border: 1px solid grey;
    position: absolute;
    width: 320px;
}

#search-result-list,
#dictionary-input,
#help-search-result-list,
#help-dictionary-input {
    box-sizing: border-box;
    width: 200px;
}

#search-result-list li:nth-child(odd),
#help-search-result-list li:nth-child(odd) {
    background-color: snow;
}

#search-result-list li:hover {
    color: black;
    background-color: lightgrey;
}

.day-heading {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

#increase-font,
#decrease-font {
    min-width: 0px;
    width: 1.7rem;
}

.faint-blue-background {
    background-color: rgb(229, 238, 246);
}

#license-pre {
    font-size: 0.7em;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}